# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# Python build files
build/
dist/
*.egg-info/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Pygame temporary files
*.tmp